TAGS
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
src/test/resources/jehle_verb_database.csv
src/test/resources/verbos-espanol-conjugaciones.txt
src/test/resources/verbos-espanol.txt
src/test/resources/default-spanish-lexicon.xml
